APP_ENV=dev
SECRET_KEY=secret
DEBUG=True
DATABASE_URL=mongodb://127.0.0.1:27018
DB=ip-intelligence
VISABLE_COLLECTION="ip-visable"
HISTORY_COLLECTION="ip-history"
DOCS_COLLECTION="docs-collection"
REDIS_URL=redis://127.0.0.1:6379
VIRUSTOTAL_API_KEY=YOUR_VIRUSTOTAL_API_KEY_FROM_VIRUSTOTAL