fastapi==0.103.1
fastapi_cache==0.1.0
loguru==0.7.2
motor==3.3.1
pydantic==2.3.0
pydantic_settings==2.0.3
pymongo==4.5.0
starlette==0.31.1
fastapi-users==12.1.2
fastapi-users-db-beanie==3.0.0

isort==5.9.3
autoflake==2.2.1
flake8==6.0.0
autopep8==1.6.0
pep8==1.7.1